<div class="valine"></div>
<script src='<%- theme.cdn.valine.js %>'></script>
<script>
    // 使用方法 https://valine.js.org/quickstart.html
    new Valine({
        el: '.valine',
        appId: '<%= theme.valine.appId %>',
        appKey: '<%= theme.valine.appKey %>',
        pageSize: '<%= theme.valine.pageSize %>',
        placeholder: '<%= theme.valine.placeholder %>',
        enableQQ: '<%= theme.valine.enableQQ %>',
        recordIP: '<%= theme.valine.recordIP %>',
        serverURLs: '<%= theme.valine.serverURLs %>'
    })
</script>